altgraph==0.17.3
Brotli==1.0.9
certifi==2023.7.22
clipboard==0.0.4
decorator==5.1.1
mutagen==1.45.1
pycryptodomex==3.14.1
pyobjc-core==8.5.1
pyobjc-framework-Cocoa==8.5
pyperclip==1.8.2
rumps==0.3.0
six==1.16.0
validators==0.20.0
websockets==10.4
yt-dlp==2022.5.18
